# Should only contain dependencies used by many notebooks
# Place special dependencies in the notebook itself
#plotly
pandas
datasets
#openai
#ir_datasets
#pytrec_eval
#torch
numpy
nbconvert
ipykernel
jupytext
vespacli
