name: Mend Scan

on:
  workflow_dispatch:
  schedule: [ cron: "0 0 * * 0" ] # Weekly on Sundays at midnight
  pull_request:
    branches: [ master ]

env:
  MEND_APP_NAME: "vespa-engine"
  MEND_PROJECT_NAME: "pyvespa"

jobs:
  sast:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
    - name: Mend SAST
      uses: vespa-engine/gh-actions/mend-sast@main
      with:
        mend-user: ${{ secrets.MEND_EMAIL }}
        mend-api-key: ${{ secrets.MEND_USER_KEY }}

        mend-app-name: ${{ env.MEND_APP_NAME }}
        mend-project-name: ${{ env.MEND_PROJECT_NAME }}
        update: ${{ contains(fromJson('["workflow_dispatch","schedule"]'), github.event_name) }}
        enabled-engines: "104" # Python
        github-upload: false # Requires feature to be enabled in GH repo

  sca:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

    - name: Install uv
      uses: astral-sh/setup-uv@f0ec1fc3b38f5e7cd731bb6ce540c5af426746bb # v6

    - name: Export dependencies
      run: |
        # Mend only supports requirements.txt for Python projects at the moment
        uv export --no-hashes --format requirements-txt | tee requirements.txt

    - name: Mend SCA
      uses: vespa-engine/gh-actions/mend-sca@main
      with:
        mend-user: ${{ secrets.MEND_EMAIL }}
        mend-api-key: ${{ secrets.MEND_USER_KEY }}

        mend-app-name: ${{ env.MEND_APP_NAME }}
        mend-project-name: ${{ env.MEND_PROJECT_NAME }}

        # Do not send SCA updates on PRs
        update: ${{ contains(fromJson('["workflow_dispatch","schedule"]'), github.event_name) }}
